{#{% extends 'default.html' %}#}

{% block title %}Edit your account{% endblock %}

{% block content %}
<div>
    <p>
    {% if is_not_authors %}
    <h5>Для написания, редактирования и удаления ваши постов, необходимо стать автором.</h5>
    <form action="{% url 'upgrade_me' %}">
        <button type="submit" value="" name="pk" class="btn btn-light btn-outline-primary"> Хочу стать АВТОРОМ </button>
    </form>
    {% endif %}
    </p>
</div>
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
<div>
    <form action="." method="post" enctype="multipart/form-data">
        {% for f in form %}
    <p><label class="form-label" for="{{f.ai_for_label}}">{{f.label}}: </label> {{ f }} </p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
</div>
<div>
{#    <p> Хотите сменить пароль? <a href="{% url 'change_password' %}">Смена пароля</a></p>#}
</div>



{% endblock %}